*{
    margin: 0;
    padding: 0;
}

main {
    background: linear-gradient(to right, rgb(44, 62, 80), rgb(189, 195, 199));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.trafficLight{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px white;
    border-radius: 75px;
    width: 200px;
    height: 500px;
    padding: 5px;
}

.light{
    border: solid 1px white;
    border-radius: 50%;
    height: 150px;
    width: 130px;
    margin: 10px;
    box-shadow: 0 0 2px 2px white;
}

.red{
    background-color: rgb(83, 8, 8);
    border: solid 1px white;
    border-radius: 50%;
    height: 150px;
    width: 130px;
    margin: 10px;
    box-shadow: 0 0 2px 2px white;
}
.yellow{
    background-color: rgb(95, 86, 8);
    border: solid 1px white;
    border-radius: 50%;
    height: 150px;
    width: 130px;
    margin: 10px;
    box-shadow: 0 0 2px 2px white;
}
.green{
    background-color: rgb(8, 80, 8);
    border: solid 1px white;
    border-radius: 50%;
    height: 150px;
    width: 130px;
    margin: 10px;
    box-shadow: 0 0 2px 2px white;
}

.red-on{
    background-color: rgb(231, 16, 16);
}
.yellow-on{
    background-color: rgb(238, 216, 15);
}
.green-on{
    background-color: rgb(15, 230, 15);
}

.btn {
    margin: 5vh auto;
    width: 5vw;
}